.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 400px;
  background-color: #ffffff;
  margin-top: -150px;
  padding: 30px 10px 20px;
}
.modal .close {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal .modal-content {
  min-height: 60px;
  position: relative;
}
.modal .input {
  font-size: 16px;
  padding: 4px;
  border: 1px solid #999999;
  width: 100%;
  box-sizing: border-box;
}
.modal .btn-group {
  text-align: right;
}
.modal .btn-group button {
  padding: 1px 6px;
}
