.App {
  width: 400px;
  margin: 40px auto 0;
}
.editor {
  margin-bottom: 20px;
}
.editor input {
  border: 1px solid #999999;
  font-size: 15px;
  padding: 3px 4px;
  margin-right: 4px;
  width: 200px;
}
.editor button {
  padding: 1px 5px;
  letter-spacing: 3px;
}
.list .item {
  margin-bottom: 7px;
}
.list .item .check {
  margin-right: 4px;
}
.list .item .edit-btn {
  background-color: transparent;
  border: none;
  color: #1676ea;
  text-decoration: underline;
  margin-left: 4px;
  cursor: pointer;
}
